* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.cabecera {
    height: 100px;
    width: auto;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 100px;

}

@media screen and (max-width: 750px) {
    .cabecera {
        height: 100px;
        width: auto;
        background: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

    }
}

@media screen and (max-width: 750px) {
    .cabecera p {
        background-color: blue;
        font: 0/0 a;
        text-shadow: transparent;
        color: transparent;
        text-decoration: none
    }
}


.texto_buscar {
    padding-right: 80px;
}


.telefono_cabecera {
    padding: 32px 32px;
    padding-right: 112px;
    width: 87px;
    height: 20px;
    color: #414141;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.cabecera_logo {
    width: 201px;
    height: 53px;

}

@media screen and (max-width: 320px) {
    .cabecera_logo {
        width: 100%;
        height: 100%;
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .correo_baby {
        width: 100%;
        height: 100%;
        display: none;
    }
}


nav {

    height: 92px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.menu {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

nav div ul {
    background-color: #FFFFFF;
    align-items: center;


    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}

nav div a {

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #414141;
    text-decoration: none;

}


.iconos {
    display: grid;
    grid-template-columns: max-content 50px 50px;
    justify-content: center;
    align-content: center;
}

.icono_corazon {
    box-sizing: border-box;
    width: 18.69px;
    height: 16.77px;

}



.bolsa_compra {

    width: 20px;
    height: 20px;
    left: 90%;
    flex: none;
    order: 1;
    flex-grow: 0;

}

section div img {
    width: 100%;
}

.conoce_mas {
    width: 100%;
    height: auto;
    background: rgba(255, 211, 210, 0.15);

}

.navbar-brand {
    padding-left: 20px;
}

.conoce_mas_titulo {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FF0000;
    margin-top: 40.5px;

}

.ofertas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 96%;
    max-width: 960px;
    margin: 0px auto;
    padding-bottom: 20px;
    justify-content: center;
    justify-items: center;

}

.ofertas div {
    width: 300px;
    height: auto;

}


.ofertas_1 {
    background: #E0EDFD;
    width: 100%;
    height: auto;

}

.ofertas_2 {
    background: #F8DADA;
    width: 100%;
    height: auto;
}

.ofertas_3 {
    background: #F6E0BD;
    width: 100%;
    height: auto;
}

.mas_vendidos {
    width: 100%;
    height: auto;
    background: #FFFFFF;

}

.mas_vendidos_titulo {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FF0000;
    padding-top: 40.5px;
}

.mas_vendidos_lista {
    width: 100%;
    height: auto;
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.mas_vendidos_lista div {
    width: 300px;
    height: 380px;

}

.boton_ver_todo {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px 0px;
}


.mas_vendidos_lista_mas {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #E75313;
}



.ciberdays {
    width: 100%;

    background: #E05851;
}

.ciberdays img {
    width: 521px;
    height: 518px;
    display: block;
    margin: auto;
}

@media screen and (max-width: 520px) {
    .ciberdays img {
        width: 100%;
        height: auto;

    }
}

.pie_de_pagina {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pie_de_pagina_1 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    margin: 96px;

}

.pie_de_pagina_1 p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.pie_de_pagina_logo {
    width: 150px;
    height: 53px;
}

.pie_de_pagina_img {
    width: 30px;
    height: 30px;
    margin: 10px;

}

.pie_de_pagina_2 ul {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    margin: 96px;
    list-style: none;

}

.pie_de_pagina_2 ul li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;

}

.pie_de_pagina_2 ul li a {
    text-decoration: none;
    color: black;
}

.pie_de_pagina_3 {
    margin: 300px 20px 50px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.pie_de_pagina_3 img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.nuevo_cabecera {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: auto;
    background: rgba(255, 211, 210, 0.15);

}

.nuevo_cabecera_fondo {

    background: #F8DADA;

}

.nuevo_cabecera img {
    width: 211px;
    height: auto;
}

@keyframes efecto {
    0% {
        width: 100%;
    }

    25% {
        width: 125%;
    }

    50% {
        width: 150%;
    }

    75% {
        width: 125%;
    }

    100% {
        width: 100%;
    }


}

.img_animacion {
    width: 100%;
    animation-name: efecto;
    animation-duration: infinite;
    animation-timing-function: ease-out;
    animation-duration: 4s;
    animation-delay: 2s;
}


.nuevo_producto {
    width: 100%;

    background: #FFFFFF
}

.nuevo_producto_lista {
    width: 100%;
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

}

.nuevo_producto_lista div {
    width: 300px;
    height: 380px;

}

.nosotros_cabecera {
    background: rgba(255, 211, 210, 0.15);
    display: grid;
    grid-template-columns: 50% minmax(min-content, 600px);
    grid-template-rows: auto;
    grid-template-areas: "a b";
    grid-auto-columns: 50%;
    justify-items: start;
    align-items: center;

}



.nosotros_cabecera_1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding: 48px 81px 60px 81px;
    width: 100%;
    grid-area: a;
    height: 300px;
}

.nosotros_cabecera_1_may {
    font-size: 36px;
}

.nosotros_cabecera_2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    width: 100%;
    grid-area: b;
    padding: 48px 81px 60px 81px;
    grid-column-start: 2;
}

.nosotros_cabecera_2 p {
    animation-duration: 3s;
    animation-name: slidein;

}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.nosotros_cabecera_3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding: 48px 0px 60px 81px;

    height: 300px;
}

@media screen and (max-width: 650px) {
    .nosotros_cabecera {
        background: rgba(255, 211, 210, 0.15);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 2px;
        grid-auto-rows: 50%;
        padding: auto;
        justify-items: start;
        align-items: center;
    }
}

.contactanos {
    width: 100%;

    background: #FFFFFF
}

.contactanos_titulo {
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FF0000;
    padding-top: 10px
}

.contactanos_cuadro {

    padding: 50px 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;

}

.contactanos_cuadro_texto {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 100%;
}

.input_estilo {
    width: 100%;
    height: 30px;
}

.contactanos_cuadro_texto textarea {
    height: 200px;
}

@media screen and (max-width: 720px) {
    .logo_footer {
        width: 100%;
              
        padding: 0px 10px 0px 10px;

    }
}

.logo_footer{

}

.boton {

    width: 147px;
    height: 46px;
    color: #FFFFFF;
    background: #EF0000;
    border-radius: 4px;
    flex-grow: 0;
    border-color: #EF0000;
    align-items: center;
}

.importaciones {
    width: 100%;

    background: rgba(255, 211, 210, 0.15);
}

.importaciones_titulo {
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FF0000;
    padding-top: 10px
}